@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<Layout Style="height: 100vh; width: 100vw">
    <Header Class="header" Style="background-color: #01008c">
        <div Style=" padding: 0 ; text-align:right;">
            <img src="/Images/CE_AcerosSA_Logo.jpg" style="width: 40px; height: 40px; margin-right:980px; " />
            <Button Size="small"
                    Style="margin:0 16px; vertical-align: middle;"
                    OnClick="_=>changeUser()">
                Usuario
            </Button>
            <Avatar Style="@($"background-color: {color}; vertical-align: middle;")" Size="large">
                @user
            </Avatar>
            <Button Size="small" Type="link" OnClick='()=> { NavigationManager.NavigateTo("/");}'>
                Cerrar Sesión
            </Button>
        </div>
    </Header>
    <Layout>
        <NavMenu />
        <Divider Type="DirectionVHType.Vertical" />
        <Content Class="site-layout-background" Style=" padding: 24px; margin: 0; min-height: 280px; overflow:auto">
            @Body
        </Content>
    </Layout>
</Layout>

<style>
    .logo {
        width: 120px;
        height: 31px;
        background: rgba(255, 255, 255, 0.2);
        margin: 16px 28px 16px 0;
        float: left;
    }

    .site-layout-background {
        background: #fff;
    }
</style>

@code
{ private static string[] userList = { "Esmeralda", "Elmer", "Nidia" };
    private static string[] colorList = { "#f56a00", "#7265e6", "#ffbf00" };

    private string user { get; set; } = userList[0];
    private string color { get; set; } = colorList[0];

    private void changeUser()
    {
        var index = Array.IndexOf(userList, user);
        user = index < userList.Length - 1 ? userList[index + 1] : userList[0];
        color = index < colorList.Length - 1 ? colorList[index + 1] : colorList[0];
    } }