<Sider Collapsible Collapsed=@collapsed OnCollapse=@onCollapse style="height:100%; background-color: white; color:red" >
    <div class="logo" />
    <Menu Theme="MenuTheme.Light" DefaultSelectedKeys=@(new[]{"1"}) Mode="MenuMode.Inline">

        <MenuItem Key="1">
            <Icon Type="home" Theme="outline" />
            <span>
                <NavLink href="/inicioSesion">
                    Inicio
                </NavLink>
            </span>
        </MenuItem>
        <SubMenu Key="sub1" TitleTemplate=@catalogos>
            <MenuItem Key="2">
                <NavLink href="/almacen">Almacenes</NavLink>
            </MenuItem>
            <MenuItem Key="3">
                <NavLink href="/listadoUnidades">Unidades</NavLink>
            </MenuItem>
            <MenuItem Key="4">
                <NavLink href="/ubicacionProductos">Ubicación</NavLink>
            </MenuItem>
        </SubMenu>
        <MenuItem Key="5">
            <Icon Type="apartment" Theme="outline" />
            <span>
                <NavLink href="/listaArticulos">
                    Artículos
                </NavLink>

            </span>
        </MenuItem>

        <SubMenu Key="sub3" TitleTemplate=@graficas>
            <MenuItem Key="6">
                <NavLink href="/">Consumo de valor </NavLink>
            </MenuItem>
            <MenuItem Key="7">
                <NavLink href="/">Consumo por unidad </NavLink>
            </MenuItem>
        </SubMenu>

        <SubMenu Key="sub2" TitleTemplate=@reportes>
            <MenuItem Key="8">
                <NavLink href="/reportePR">Punto de reorden </NavLink>
            </MenuItem>
            <MenuItem Key="9">
                <NavLink href="/reporteEA">Existencias de almacen </NavLink>
            </MenuItem>
        </SubMenu>
    </Menu>
</Sider>


@code {
    bool collapsed;

    RenderFragment catalogos =
    @<span>
        <Icon Type="database" Theme="outline" />
        <span>Catálogos</span>
    </span>;

    RenderFragment reportes =
    @<span>
        <Icon Type="database" Theme="outline" />
        <span>Reportes</span>
    </span>;

    RenderFragment graficas =
    @<span>
        <Icon Type="database" Theme="outline" />
        <span>Gráficas</span>
    </span>;

    void onCollapse(bool collapsed)
    {
    Console.WriteLine(collapsed);
    this.collapsed = collapsed;
    }



}
