@page "/altaalmacen"
@page "/editarAlmacen/{id:int}"
@using System.Text.Json;
@using Models;
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@inject Blazored.LocalStorage.ILocalStorageService localStorage

@if (id != 0)
{
    <h3>Editar Almacen</h3>
}
else
{
    <h3>Alta Almacen</h3>
}

<Form Model="@Almacen"
      LabelColSpan="24"
      WrapperColSpan="8"
      OnFinish="OnFinish"
      OnFinishFailed="OnFinishFailed"
      Size="ntSizeLDSType.Small">

    <FormItem Label="Nombre">
        <Input @bind-Value="@context.Nombre" />
    </FormItem>
    <FormItem Label="Descripción">
        <TextArea @bind-Value="@context.Descripcion" />
    </FormItem>
    <FormItem WrapperColSpan="16">
        <Button @onclick="save" HtmlType="submit">
            Guardar
        </Button>
        <Button @onclick="cancel" HtmlType="submit" Danger>
            Cancelar
        </Button>
    </FormItem>
</Form>

@code
{
        [Parameter]
        public int id { get; set; }

    private AlmacenModel Almacen = new AlmacenModel();
    List<AlmacenModel> almacenes = null;

    protected override async Task OnInitializedAsync()
    {
        almacenes = await localStorage.GetItemAsync<List<AlmacenModel>>("Almacenes");

        if (id != 0) {
            Almacen = almacenes.Find(x=>x.Id == id);
        }
    }

    private void OnFinish(EditContext editContext)
    {
        Console.WriteLine($"Success:{JsonSerializer.Serialize(Almacen)}");
    }

    private void OnFinishFailed(EditContext editContext)
    {
        Console.WriteLine($"Failed:{JsonSerializer.Serialize(Almacen)}");
    }

    private async Task save()
    {
        if (Almacen.Id == 0)
        {
            Almacen.Id = almacenes.Count + 1;
            almacenes.Add(Almacen);
        }
        await localStorage.SetItemAsync<List<AlmacenModel>>("Almacenes", almacenes);
        await JsRuntime.InvokeAsync<object>("blazorInterop.saveSwal");
        NavigationManager.NavigateTo("almacen");
    }

    private async Task cancel()
    {
        await JsRuntime.InvokeAsync<object>("blazorInterop.CancelSwal");
        NavigationManager.NavigateTo("almacen");
    }

}
